/*
markup:
<figure class="video video__large">
  <a class="video--overlay">
    <i class="icon-play"></i>
  </a>
  <img class="video--preview" src=".../images/video_preview.jpg" alt="Video preview">
  <figcaption class="video--caption">Video title, if applicable, which can span no more than
  two lines</figcaption>
</figure>
*/

// mixins
@mixin video-size($video-width, $height-ratio) {
	position: relative;
	width: $video-width;

	> .video--preview,
	> .video--overlay {
		display: block;
		position: absolute;
		height: $video-width * $height-ratio;
	}

	$icon-size: $video-width * 0.1;

	.icon-play {
		display: block;
		position: absolute;
		bottom: $icon-size / 3;
		height: $icon-size;
		left: $icon-size / 3;
		width: $icon-size;
	}
}

@mixin landscape-video-dimensions($video-size) {
	@media #{$small-only} {
		@include video-size(nth($landscape-image-columns, $video-size)  * $landscape-column-width-small, $landscape-height-ratio);
	}

	@media #{$medium-only} {
		@include video-size(nth($landscape-image-columns, $video-size)  * $landscape-column-width-medium, $landscape-height-ratio);
	}

	@media #{$large-only} {
		@include video-size(nth($landscape-image-columns, $video-size)  * $landscape-column-width-large, $landscape-height-ratio);
	}

	@media #{$xlarge-only} {
		@include video-size(nth($landscape-image-columns, $video-size)  * $landscape-column-width-xlarge, $landscape-height-ratio);
	}

	@media #{$xxlarge-up} {
		@include video-size(nth($landscape-image-columns, $video-size)  * $landscape-column-width-xxlarge, $landscape-height-ratio);
	}
}

// component
.video {
	&.video__small {
		@include landscape-video-dimensions($image-size-small);

		.video--caption {
			color: $color-blue-light;
			font-size: 14px;
			padding: 10px;
		}
	}

	&.video__medium {
		@include landscape-video-dimensions($image-size-medium);

		.video--caption {
			color: $color-blue-gray-dark;
			font-size: 14px;
			line-height: 1.4;
			padding: 15px;
			text-align: justify;
		}

		h5 {
			color: $color-blue-light;
			margin: 0;
		}
	}

	&.video__large {
		@include landscape-video-dimensions($image-size-large);

		.video--caption {
			bottom: 7%;
			color: #fff;
			font-size: 26px;
			height: 62px;
			left: 16%;
			line-height: 32px;
			overflow-y: hidden;
			position: absolute;
			text-shadow: #999 1px 1px;
			width: 80%;
		}

		.video--overlay {
			background-image: linear-gradient(0deg, #c0c0c0, transparent 40%);
		}
	}

	&.video__xlarge {
		@include landscape-video-dimensions($image-size-xlarge);
	}
}
