<!DOCTYPE html>
<html>

{% include head.html %}

<!--<template id="searchTemplate">-->
	<!--<input type="search" placeholder="default placeholder">-->
<!--</template>-->

<body class="page-{{page.class}}">

<nav class="global-navigation-proto" id="globalNavigation">
	<div class="global-navigation-container">
		<div class="wikia-logo-container table-cell">
			<a href=""
			   class="wikia-logo"
			   rel="nofollow"
			   data-id="wikia-logo">
			</a>
			<!--<a href="<?= htmlspecialchars( $centralUrl ) ?>"-->
			   <!--class="wikia-logo"-->
			   <!--rel="nofollow"-->
			   <!--data-id="wikia-logo">-->
				<!--<img src="<?= $wg->BlankImgUrl ?>"-->
					 <!--height="24"-->
					 <!--width="91"-->
					 <!--alt="<?= wfMessage( 'oasis-global-page-header' )->escaped() ?>"-->
					 <!--title="<?= wfMessage( 'oasis-global-page-header' )->escaped() ?>">-->
			<!--</a>-->
		</div>
		<div class="hubs-container table-cell" id="hubsEntryPoint">
			<a class="hubs-entry-point"></a>
			<div class="hubs-menu-wrapper">
				<nav id="hubs" class="hubs-menu global-nav-dropdown">
					<ul class="hub-list">
						<li>
							<a data-vertical="comics" href="http://comicshub.wikia.com/wiki/Comics_Hub?_ga=1.152967865.1672524609.1432078184" class="comics hub-link  active">
								<span class="icon"></span>
								<span class="label">Comics</span>
							</a>
						</li>
						<li>
							<a data-vertical="tv" href="http://tvhub.wikia.com/wiki/TV_Hub" class="tv hub-link ">
								<span class="icon"></span>
								<span class="label">TV</span>
							</a>
						</li>
						<li>
							<a data-vertical="movies" href="http://movieshub.wikia.com/wiki/Movies_Hub" class="movies hub-link ">
								<span class="icon"></span>
								<span class="label">Movies</span>
							</a>
						</li>
						<li>
							<a data-vertical="music" href="http://musichub.wikia.com/wiki/Music_Hub" class="music hub-link ">
								<span class="icon"></span>
								<span class="label">Music</span>
							</a>
						</li>
						<li>
							<a data-vertical="books" href="http://bookshub.wikia.com/wiki/Books_Hub" class="books hub-link ">
								<span class="icon"></span>
								<span class="label">Books</span>
							</a>
						</li>
						<li>
							<a data-vertical="games" href="http://gameshub.wikia.com/wiki/Games_Hub" class="games hub-link ">
								<span class="icon"></span>
								<span class="label">Games</span>
							</a>
						</li>
						<li>
							<a data-vertical="lifestyle" href="http://lifestylehub.wikia.com/wiki/Lifestyle_Hub" class="lifestyle hub-link ">
								<span class="icon"></span>
								<span class="label">Lifestyle</span>
							</a>
						</li>
					</ul>
					<div class="hub-links">
						<div class="hub-menu-section comics-links active">
							<div class="hub-menu-columns">
								<ul>
									<li><strong>HOT</strong></li>
									<li>
										<a href="http://ow.ly/My9x5">Marvel Database 10</a>
									</li>
									<li>
										<a href="http://ow.ly/My9zE">DC Convergence</a>
									</li>
									<li>
										<a href="http://ow.ly/My9Bx">Justice League</a>
									</li>
								</ul>
								<ul>
									<li><strong>ESSENTIAL CHARACTERS</strong></li>
									<li>
										<a href="http://ow.ly/My9Ew">Batman #40</a>
									</li>
									<li>
										<a href="http://ow.ly/My9GR">Daredevil #15</a>
									</li>
									<li>
										<a href="http://ow.ly/My9Iz">Superman #40</a>
									</li>
								</ul>
								<ul>
									<li><strong>PAGE TO SCREEN</strong></li>
									<li>
										<a href="http://ow.ly/My9KE">Daredevil</a>
									</li>
									<li>
										<a href="http://ow.ly/My9Nk">Agents of SHIELD</a>
									</li>
									<li>
										<a href="http://ow.ly/My9Qe">The Flash</a>
									</li>
								</ul>
								<ul>
									<li><strong>SOCIAL</strong></li>
									<li>
										<a href="http://ow.ly/HnQ1l">Community Central</a>
									</li>
									<li>
										<a href="http://ow.ly/Hl0Rx">Follow Wikia on Facebook</a>
									</li>
									<li>
										<a href="http://ow.ly/Hl0UL">Follow Wikia on Twitter</a>
									</li>
								</ul>
							</div>
							<a class="more" href="http://comicshub.wikia.com/wiki/Comics_Hub">More Comics</a>
						</div>
						<div class="hub-menu-section tv-links">
							<div class="hub-menu-columns">
								<ul>
									<li><strong>HOT</strong></li>
									<li>
										<a href="http://ow.ly/My9Ue">Marvel’s Daredevil</a>
									</li>
									<li>
										<a href="http://ow.ly/My9Xf">Game of Thrones</a>
									</li>
									<li>
										<a href="http://ow.ly/My9Zz">Gotham</a>
									</li>
								</ul>
								<ul>
									<li><strong>ANIME</strong></li>
									<li>
										<a href="http://ow.ly/Mya1e">Sidonia no Kishi</a>
									</li>
									<li>
										<a href="http://ow.ly/Mya4G">Nisekoi</a>
									</li>
									<li>
										<a href="http://ow.ly/MyaNA">Digimon Adventure tri.</a>
									</li>
								</ul>
								<ul>
									<li><strong>ENTER NOW</strong></li>
									<li>
										<a href="http://ow.ly/MyaSj">Adventure Time Fan Facts</a>
									</li>
									<li>
										<a href="http://ow.ly/Myb8U">20 Ways to Tell Someone You Love Them</a>
									</li>
									<li>
										<a href="http://ow.ly/Mybd4">Book Club: The 100</a>
									</li>
								</ul>
								<ul>
									<li><strong>SOCIAL</strong></li>
									<li>
										<a href="http://ow.ly/HnQ1l">Community Central</a>
									</li>
									<li>
										<a href="http://ow.ly/Hl0Rx">Follow Wikia on Facebook</a>
									</li>
									<li>
										<a href="http://ow.ly/Hl0UL">Follow Wikia on Twitter</a>
									</li>
								</ul>
							</div>
							<a class="more" href="http://tvhub.wikia.com/wiki/TV_Hub">More TV</a>
						</div>
						<div class="hub-menu-section movies-links">
							<div class="hub-menu-columns">
								<ul>
									<li><strong>NOW PLAYING</strong></li>
									<li>
										<a href="http://ow.ly/Mybso">Avengers: Age of Ultron</a>
									</li>
									<li>
										<a href="http://ow.ly/Mybms">Furious 7</a>
									</li>
									<li>
										<a href="http://ow.ly/Mybxh">Insurgent</a>
									</li>
								</ul>
								<ul>
									<li><strong>FAN RADAR</strong></li>
									<li>
										<a href="http://ow.ly/MyjKZ">Mad Max</a>
									</li>
									<li>
										<a href="http://ow.ly/Myk0D">X-Men: Apocalypse</a>
									</li>
									<li>
										<a href="http://ow.ly/Myk4E">Star Wars</a>
									</li>
								</ul>
								<ul>
									<li><strong>IN THE NEWS</strong></li>
									<li>
										<a href="http://ow.ly/MykaX">Avengers: Infinity War, Part 1</a>
									</li>
									<li>
										<a href="http://ow.ly/MykgE">Jurassic World</a>
									</li>
									<li>
										<a href="http://ow.ly/Mykoq">Suicide Squad</a>
									</li>
								</ul>
								<ul>
									<li><strong>SOCIAL</strong></li>
									<li>
										<a href="http://ow.ly/HnQ1l">Community Central</a>
									</li>
									<li>
										<a href="http://ow.ly/Hl0Rx">Follow Wikia on Facebook</a>
									</li>
									<li>
										<a href="http://ow.ly/Hl0UL">Follow Wikia on Twitter</a>
									</li>
								</ul>
							</div>
							<a class="more" href="http://movieshub.wikia.com/wiki/Movies_Hub">More Movies</a>
						</div>
						<div class="hub-menu-section music-links">
							<div class="hub-menu-columns">
								<ul>
									<li><strong>HOT</strong></li>
									<li>
										<a href="http://ow.ly/MykxK">Lana Del Rey</a>
									</li>
									<li>
										<a href="http://ow.ly/MykBG">Hello! Project</a>
									</li>
									<li>
										<a href="http://ow.ly/MykHl">Ariana Grande</a>
									</li>
								</ul>
								<ul>
									<li><strong>Popular on Wikia</strong></li>
									<li>
										<a href="http://ow.ly/MykLA">Lyrics</a>
									</li>
									<li>
										<a href="http://ow.ly/MykPR">Vocaloid</a>
									</li>
									<li>
										<a href="http://ow.ly/MykUb">Epic Rap Battles of History</a>
									</li>
								</ul>
								<ul>
									<li><strong>Musical Madness Quizzes</strong></li>
									<li>
										<a href="http://ow.ly/Myl32">One Direction</a>
									</li>
									<li>
										<a href="http://ow.ly/Myl7N">Lady Gaga</a>
									</li>
									<li>
										<a href="http://ow.ly/Mylbk">Hollywood Undead</a>
									</li>
								</ul>
								<ul>
									<li><strong>Upcoming Biopic Artists</strong></li>
									<li>
										<a href="http://ow.ly/MyjDX">Amy Winehouse</a>
									</li>
									<li>
										<a href="http://ow.ly/Myjz9">Nirvana</a>
									</li>
									<li>
										<a href="http://ow.ly/MyjnI">N.W.A.</a>
									</li>
									<li>
										<a href="http://ow.ly/MyhYn">Bessie Smith</a>
									</li>
								</ul>
							</div>
							<a class="more" href="http://musichub.wikia.com/wiki/Music_Hub">More Music</a>
						</div>
						<div class="hub-menu-section books-links">
							<div class="hub-menu-columns">
								<ul>
									<li><strong>WHAT’S HOT</strong></li>
									<li>
										<a href="http://ow.ly/Myh3n">Red Queen author Victoria Aveyard Fan Q&amp;A</a>
									</li>
									<li>
										<a href="http://ow.ly/MygZf">Shadowhunters, Vote for Your Favorite Jace</a>
									</li>
									<li>
										<a href="http://ow.ly/MygUM">Marie Lu’s The Young Elites is coming to big screens</a>
									</li>
								</ul>
								<ul>
									<li><strong>FROM THE COMMUNITY</strong></li>
									<li>
										<a href="http://ow.ly/Mygyj">The Selection gets new life as a movie</a>
									</li>
									<li>
										<a href="http://ow.ly/MyglL">Inkheart short stories finally releasing in English</a>
									</li>
									<li>
										<a href="http://ow.ly/MygaN">Excited for Allegiant? Check these fan-made posters</a>
									</li>
								</ul>
								<ul>
									<li><strong>TRENDING COMMUNITIES</strong></li>
									<li>
										<a href="http://ow.ly/Myg36">The Expanse Wiki</a>
									</li>
									<li>
										<a href="http://ow.ly/MydBm">Shadowhunters Wiki</a>
									</li>
									<li>
										<a href="http://ow.ly/Mydx7">Maximum Ride Wiki</a>
									</li>
								</ul>
								<ul>
									<li><strong>NEW RELEASES</strong></li>
									<li>
										<a href="http://ow.ly/MydbA">A Court of Thorns and Roses by Sarah J. Maas</a>
									</li>
									<li>
										<a href="http://ow.ly/Myd8S">Penryn and the End of Days by Susan Ee</a>
									</li>
									<li>
										<a href="http://ow.ly/Myd6b">The Heir by Kiera Cass</a>
									</li>
								</ul>
							</div>
							<a class="more" href="http://bookshub.wikia.com/wiki/Books_Hub">More Books</a>
						</div>
						<div class="hub-menu-section games-links">
							<div class="hub-menu-columns">
								<ul>
									<li><strong>WIKIA LIVE</strong></li>
									<li>
										<a href="http://bit.ly/1dq8gEG">Going Somewhere?</a>
									</li>
									<li>
										<a href="http://ow.ly/Mydnb">Wikia at E3</a>
									</li>
									<li>
										<a href="http://bit.ly/1DUgHgF">Wikia at Star Wars Celebration</a>
									</li>
								</ul>
								<ul>
									<li><strong>HOT</strong></li>
									<li>
										<a href="http://bit.ly/1FD5bre">Game of Thrones Super Walkthrough</a>
									</li>
									<li>
										<a href="http://bit.ly/1HBzeo1">The Beasts of The Witcher 3</a>
									</li>
									<li>
										<a href="http://bit.ly/1dlXL55">Black Ops III Revealed</a>
									</li>
								</ul>
								<ul>
									<li><strong>ON THE HORIZON</strong></li>
									<li>
										<a href="http://bit.ly/1OspiPs">Destiny: House of Wolves</a>
									</li>
									<li>
										<a href="http://bit.ly/1Krrzby">Devil Survivor 2 Returns</a>
									</li>
									<li>
										<a href="http://bit.ly/1PUcYsc">The Wild Hunt Begins</a>
									</li>
								</ul>
								<ul>
									<li><strong>TOP VIDEOS</strong></li>
									<li>
										<a href="http://bit.ly/1HVXjY4">Batman: All Who Follow You</a>
									</li>
									<li>
										<a href="http://bit.ly/1HPdYuE">Mad Max Hits the Road</a>
									</li>
									<li>
										<a href="http://bit.ly/1bbJRAU">Just Cause 3 Gameplay Trailer</a>
									</li>
								</ul>
							</div>
							<a class="more" href="http://gameshub.wikia.com/wiki/Games_Hub">More Games</a>
						</div>
						<div class="hub-menu-section lifestyle-links">
							<div class="hub-menu-columns">
								<ul>
									<li><strong>WHAT’S HOT</strong></li>
									<li>
										<a href="http://ow.ly/Mycos">20 Ways to Tell Someone You Love Them: What’s Yours?</a>
									</li>
									<li>
										<a href="http://ow.ly/MyckS">Fashionistas Assemble! See the new Avengers collection</a>
									</li>
									<li>
										<a href="http://ow.ly/Myci0">Fantasy Casting for New Live-Action Mulan</a>
									</li>
								</ul>
								<ul>
									<li><strong>FASHION &amp; STYLE</strong></li>
									<li>
										<a href="http://ow.ly/Mycdp">Disney Channel Stars’ Style: Then &amp; Now</a>
									</li>
									<li>
										<a href="http://ow.ly/Myc9N">Glee Wiki celebrates Glee Graduation Style</a>
									</li>
									<li>
										<a href="http://ow.ly/Myc4m">Women’s makeup throughout history</a>
									</li>
								</ul>
								<ul>
									<li><strong>FOOD &amp; FUN</strong></li>
									<li>
										<a href="http://ow.ly/Myc01">Secret Menu Wiki</a>
									</li>
									<li>
										<a href="http://ow.ly/MybWE">Fictional Companies Wiki</a>
									</li>
									<li>
										<a href="http://ow.ly/MybRW">Dessert Wiki</a>
									</li>
								</ul>
								<ul>
									<li><strong>PARENT PAGES</strong></li>
									<li>
										<a href="http://ow.ly/MybCA">TV Shows</a>
									</li>
									<li>
										<a href="http://ow.ly/MybG2">Comics</a>
									</li>
									<li>
										<a href="http://ow.ly/MybJT">Video Games</a>
									</li>
								</ul>
							</div>
							<a class="more" href="http://lifestylehub.wikia.com/wiki/Lifestyle_Hub">More Lifestyle</a>
						</div>
					</div>
				</nav>
			</div>		</div>
		<div class="search-container table-cell">
			<div class="search-form-wrapper">
				<form action="<?= $defaultSearchUrl; ?>" class="search-form" id="searchForm" method="get">
					<div class="global-nav-search-input-wrapper">
						<div class="search-select-wrapper">
							<div class="search-select-underlay">
								<div class="search-icon"></div>
								<!--<? if (empty($disableLocalSearchOptions)): ?>-->
								<img class="chevron" src="data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D"/>
								<select class="search-select" id="searchSelect">
									<option value="local" selected="selected" data-placeholder="foo" data-search-url="foo">foo</option>
									<option value="global" data-placeholder="foo" data-search-url="foo">bar</option>
								</select>
								<!--<? endif ?>-->
							</div>
						</div>
						<input id="searchInput" accesskey="f" autocomplete="off" class="search-input" name="search" placeholder="Search within LizLux Wiki..." type="text" value=""/>
						<input type="submit" id="searchSubmit" class="search-button" value="" />
						<input name="fulltext" type="hidden" value="foo"/>
						<input disabled id="searchInputResultLang" type="hidden" name="resultsLang" value="foo"/>
					</div>
				</form>
			</div>
		</div>
		<div class="account-navigation-container table-cell">
			<ul id="AccountNavigation" class="AccountNavigation table-cell">
				<li class="account-navigation-first-item">
					<div class="links-container anon">
						<span class="avatar-container anon-avatar-placeholder"></span>
						<span class="sign-in-label"></span>
						<div class="avatar-container anon-avatar-placeholder">
							<!--<?= $profileAvatar ?>-->
						</div>
						<?php if ($isAnon) : ?>
						<span class="sign-in-label">Sign in</span>
						<? endif; ?>
						<img class="chevron" src="data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D"/>
					</div>
					<!--<?php if ( !$isAnon ): ?>-->
					<!--<ul class="user-menu subnav global-nav-dropdown">-->
						<!--<?php foreach( $userDropdown as $link ): ?>-->
						<!--<li><?= $link ?></li>-->
						<!--<?php endforeach; ?>-->
					<!--</ul>-->
					<!--<?php else:-->

					<div id="UserLoginDropdown" class="UserLoginDropdown global-nav-dropdown">
						<div class="ajaxRegisterContainer"><a data-id="register" href="/wiki/Special:UserSignup" rel="nofollow" class="ajaxRegister">Sign up</a></div>
						<form action="/wiki/Special:UserLogin" method="post" class="WikiaForm">
							<fieldset><div class="input-group general-success success" style="display: none;"><div class="success-msg"></div></div>
								<div class="input-group error general-errors">
									<div class="error-msg"></div>
								</div>
								<input type="hidden" name="loginToken" value="c0bfe2ebcd7e04a510cb1de8a2b7d31a">
								<input type="hidden" name="returnto" value="LizLux_Wiki">
								<input type="hidden" name="returntoquery" value="">
								<div class="input-group hide-label required">
									<label>Username</label>
									<input type="text" class="hide-label" id="usernameInput" name="username" tabindex="1" placeholder="Username">
								</div>
								<div class="input-group hide-label required">
									<label>Password</label>
									<input type="password" class="hide-label" id="passwordInput" name="password" tabindex="2" placeholder="Password">
								</div>
								<div class="input-group">
									<a href="#" class="forgot-password" tabindex="0">
										Forgot your password?</a>
								</div>
								<div class="input-group keep-logged-in">
									<label>
										<input type="checkbox" class="keep-logged-in" name="keeploggedin" value="1" tabindex="3">
										Stay logged in
									</label>
								</div>
								<div class="input-group login-button">
									<input type="submit" class="login-button" value="Log in" tabindex="4">
								</div>
							</fieldset>
						</form>
						<div class="sso-login">
							<div class="sso-login-divider">
								<span>Or</span>
							</div>
							<a href="#" class="wikia-button wikia-button-facebook sso-login-facebook" data-id="facebook" tabindex="5"><img alt="" class="sprite facebook" height="14" src="data:image/gif;base64,R0lGODlhAQABAIABAAAAAP///yH5BAEAAAEALAAAAAABAAEAQAICTAEAOw%3D%3D" width="15"> Connect</a>
						</div>
					</div>


					<!--endif; ?>-->
				</li>
			</ul>
		</div>
		<?php if ( !$isAnon && $notificationsEnabled ): ?>
		<div class="notifications-container table-cell" id="notificationsEntryPoint">
			<!--<?= $app->renderView( 'GlobalNavigationWallNotifications', 'Index' ); ?>-->
		</div>
		<?php endif; ?>
		<div class="start-wikia-container table-cell">
			<a href="<?= htmlspecialchars( $createWikiUrl ) ?>"
			   class="start-wikia"
			   title="<?= wfMessage( 'global-navigation-create-wiki' )->escaped(); ?>"
			   data-id="start-wikia">
				<span>
					Start a Wikia
				</span>
			</a>
		</div>
		<!--<? if ( $isGameStarLogoEnabled ): ?>-->
		<!--<a class="gamestar-logo" href="http://gamestar.de/"></a>-->
		<!--<? endif; ?>-->
	</div>
</nav>








<!--<nav class="global-nav-proto">-->
	<!--<div class="row">-->
		<!--<a class="logo"></a>-->
		<!--<div is="nav-search"-->
			 <!--class="nav-search small-5 large-4 columns"-->
			 <!--data-placeholder="search"></div>-->
		<!--<div is="nav-menu"-->
			 <!--class="nav-menu small-2 large-6 columns">-->
			<!--<ul>-->
				<!--<li>-->
					<!--<a href="#">Test</a>-->
					<!--<ul>-->
						<!--<li><a href="#">Level 2</a></li>-->
						<!--<li><a href="#">Level 2</a></li>-->
					<!--</ul>-->
				<!--</li>-->
				<!--<li><a href="#">Test 2</a></li>-->
			<!--</ul>-->
		<!--</div>-->
	<!--</div>-->
<!--</nav>-->
<div class="row">
	<div class="page-content large-12 columns">
		<a href="https://github.com/Wikia/style-guide"><img style="z-index: 10000; position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
		{{ content }}
	</div>
</div>

<script src="{{ site.baseurl }}/vendor/wikia-style-guide/dist/scripts/components/nav-proto/global-nav.js"></script>
<script src="{{ site.baseurl }}/vendor/wikia-style-guide/dist/scripts/components/nav-proto/dropdown.js"></script>
</body>

</html>
