// Default user experience colors
$color-blue-dark       : #092344;
$color-blue-light      : #1A5EB8;
$color-gray-dark       : #39424D;
$color-blue-gray-dark  : #656E78;
$color-blue-gray       : #C5CED9;
$color-blue-gray-light : #E6EBF2;
$color-gray-light      : #F2F6FA;
$color-white           : #FFFFFF;
$color-black           : #000000;

// Hub Colors
$color-hub-comics    : #FF5400;
$color-hub-games     : #94D11F;
$color-hub-books     : #FF7F26;
$color-hub-movies    : #09D3BF;
$color-hub-lifestyle : #FFD000;
$color-hub-music     : #C819AD;
$color-hub-tv        : #00B7E0;

// We use these as default colors throughout
$primary-color   : $color-blue-dark;
$secondary-color : #e7e7e7;
$alert-color     : #ff3500;
$success-color   : #43AC6A;
$warning-color   : #f08a24;
$info-color      : #a0d3e8;

// Default gray-colors
$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;
